@font-face {
    font-family: "DM_sans";
    src: url(fonts/DM_Sans/static/DMSans-Regular.ttf);
}
body{
    font-family: "DM_sans" sans-serif;
}
/* header */
header{
    display: flex;
    background: #FFFFFF;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
   width: 25%;
}
.logo img{
    height: 120px;
}
.list{
    display: flex;
    list-style: none;
    gap: 12px;
    cursor: pointer;
}
#list-1:hover{
    border-bottom: 3px solid #3DB9B5;
}
#list-2:hover{
    border-bottom: 3px solid #3DB9B5;
}
#list-3:hover{
    border-bottom: 3px solid #3DB9B5;
}
#list-4:hover{
    border-bottom: 3px solid #3DB9B5;
}
.icons{
    display: flex;
    list-style: none;
    gap: 12px;
    cursor: pointer;
}
#icon-1:hover{
    border-bottom: 3px solid #3DB9B5;
}
#icon-2:hover{
    border-bottom: 3px solid #3DB9B5;
}
#icon-3:hover{
    border-bottom: 3px solid #3DB9B5;
}
.btn{
    display: flex;
    list-style: none;
    background: #3DB9B5;
}
.btn button{
    background: #3DB9B5;
     border: none;
     text-transform: capitalize;
     color: white;
}
#bt_n:hover{
    background: #3DB9;
    color: black;
}
.hamburger {
    display: none;
    list-style: none;
}
/* responsive_header */
@media screen and (max-width:480px) and (min-width:0px){
    header{
       padding-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo{
       height: 50%;
    }
    .logo>img{
        width: 7.6rem;
    }
    .list,.icons,.btn{
        display: none;
    }
    .hamburger{
        display: block;
        font-size: 30px;
    }
    .hamburger i{
        width: 1.6rem;
    }
}
@media screen and (max-width:768px) and (min-width:481px){
    header{
        padding-top: 30px;
         display: flex;
         justify-content: space-around;
         align-items: center;
     }
     .logo{
        height: 50%;
     }
     .logo>img{
         width: 7.6rem;
     }
     .list,.icons,.btn{
         display: none;
     }
     .hamburger{
         display: block;
         font-size: 30px;
     }
     .hamburger i{
         width: 1.6rem;
     }
}
section.our-specialist{
    background-image: url(images/bakery4-5-1200x800.jpg);
}
.button-magic-processing:hover{
    color: black;
    background: white;
}
section.magic-processing{
    text-align: center;
    color: white;
}
section.magic-processing h2{
    font-weight: bolder;
    font-size: xx-large;
}
section.magic-processing i{
    font-size: xx-large;
}
section.magic-processing{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(images/bakery12-3-1200x800.jpg) !important ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    position: relative;
}
.background{
   width: 100%;
   height: 100%;
   background: rgba(125, 210, 208,0.9) !important;
   margin-top: 30px;
}
.content{
   line-height: 40px;
position: absolute;
height: 500px;
border-radius: 10px;
padding-top: 100px;
width: 900px;
border: 1px solid white;
   bottom: 100px;
   left:  450px;
}
#discover{
    padding: 10px 20px;
    border-radius: 30px;
    background: transparent;
    color: white;
    border: none;
    border: 1px solid white;
    text-transform: capitalize;
}
#discover:hover{
    background: white;
    color: black;
}
@media screen and (max-width:480px) and (min-width:0px){

section.magic-processing{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(images/bakery12-3-1200x800.jpg) !important ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 700px; */
    position: relative;
    /* width: 100%; */
    overflow-x: hidden;
}
.background{
    width: 600px;
    height: 100%;
    background: rgba(125, 210, 208,0.9) !important;
    margin-top: 30px;
 }
 .content{
    line-height: 40px;
 position: absolute;
 height: 500px;
 border-radius: 10px;
 padding-top: 100px;
 width: 900px;
 border: 1px solid white;
    bottom: 100px;
    left:  450px;
 }
}
#image:hover{
 opacity: 0.8;
 
}
section.Recipes-For-You{
    margin-top: 30px;
    /* background: url(images/bakery24-1-1200x800.jpg) #F6F5F5;  */
    background-position: center;
    background-repeat: no-repeat;
  background-size: cover;
}
.round>img{
    border-radius: 500px;
    width: 100px;
}
.position{
    position: relative;
}
.position_2{
    position: absolute;
    top: 24rem;
    font-size: xx-large;
    left: 12rem;
    color: white;
    text-align: left;
    font-weight: 600;
}
#welcome,#to-sweet-bakery{
    line-height: 90px;
    font-weight: bolder;
    font-size: larger;

}
.position_2 button{
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background: #5FCAC7;
    color: white;
}
@media screen and (max-width:480px) and (min-width:0px){
    .position{
        position: relative;
    }
    .position_2{
        position: absolute;
        top: 10rem;
        color: white;
        text-align: center;
    }
    #welcome,#to-sweet-bakery{
        line-height: 70px;
        font-weight: bolder;
        font-size: larger;

    }
    .position_2 button{
        border: none;
        border-radius: 30px;
        background: #5FCAC7;
        color: white;
    }
}
@media screen and (max-width:768px) and (min-width:0px) {
    .position{
        position: relative;
    }
    .position_2{
        position: absolute;
        top: 4rem;
        font-size: xx-large;
        left: 6rem;
        color: white;
        text-align: left;
        font-weight: 600;
    }
    #welcome,#to-sweet-bakery{
        line-height: 70px;
        font-weight: bolder;
        font-size: larger;

    }
    .position_2 button{
        margin-top: 10px;
        border: none;
        border-radius: 30px;
        background: #5FCAC7;
        color: white;
    }
}
@media  screen and (max-width:1279px) and (min-width:769px){
    .position{
        position: relative;
    }
    .position_2{
        position: absolute;
        top: 17rem;
        font-size: xx-large;
        left: 8rem;
        color: white;
        text-align: left;
        font-weight: 600;
    }
    #welcome,#to-sweet-bakery{
        line-height: 70px;
        font-weight: bolder;
        font-size: larger;

    }
    .position_2 button{
        margin-top: 10px;
        border: none;
        border-radius: 30px;
        background: #5FCAC7;
        color: white;
    }
}
.image{
    background-image: url(images/bakery25-1200x800.jpg);
    background-size: cover;
    opacity: 0.7;
    background-position: center;
    height: 20vh;
}
.image_2{
    background-image: url(images/bakery24-1-1200x800.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}
@media screen and (max-width:576px) and (min-width:0px){
    .heading{
        font-size: large;
        margin-top: 5px;
    }
    .image{
        height: 30vh;
    }
}
section.client-say{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(images/bakery26-1200x800.jpg)  ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    position: relative;

}
.background-pink{
    width: 100%;
    height: 100%;
   background: rgba(227, 144, 158, 0.8);
    margin-top: 30px;
}
.radius{
    border-radius: 100px;
}
.padding{
    padding-top: 50px;
}

















  